<form class="mt-4" method="POST" action="/admin/{{mit._id}}/deleted?_method=DELETE">
    <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="name" value="{{mit.name}}" disabled>
    </div>
    <img src="{{mit.image}}" width="100px" height="100px" alt="">
    <div class="form-group">    
        <label for="image">image</label>
        <input type="text" class="form-control" id="image" name="image" aria-describedby="image" value="{{mit.image}}" disabled>
    </div>
    <div class="form-group">
        <label for="price">price</label>
        <input type="number" class="form-control" id="price" name="price" aria-describedby="price" value="{{mit.price}}" disabled>
    </div>
    <div class="form-group">
        <label for="info">info</label>
        <input type="text" class="form-control" id="info" name="info" aria-describedby="info" value="{{mit.info}}" disabled>
    </div>
    <button type="submit" class="btn btn-primary">delete</button>
</form>