<form class="mt-4" method="POST" action="/admin/showUser/{{User._id}}/edited">
    <div class="form-group">
        <label for="username">username</label>
        <input type="text" class="form-control" id="username" name="username" aria-describedby="username" value="{{User.username}}">
    </div>

    <div class="form-group">
        <label for="password">password</label>
        <input type="text" class="form-control" id="password" name="password" aria-describedby="password" value="{{User.password}}">
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <input type="text" class="form-control" id="email" name="email" aria-describedby="email" value="{{User.email}}">
    </div>
    <div class="form-group">
        <label for="sdt">sdt</label>
        <input type="text" class="form-control" id="sdt" name="sdt" aria-describedby="sdt" value="{{User.sdt}}">
    </div>
    <div class="form-group">
        <label for="role">role</label>
        <input type="text" class="form-control" id="role" name="role" aria-describedby="role" value="{{User.role}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>